body{
    text-align: center;
    border: 2px solid black;
    padding-bottom: 1.6rem;
}

.btn{
    height: 200px;
    width: 200px;
    border: 7px solid black;
    border-radius: 20%;
    margin: 1.5rem;
}
.btn-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.red{
    background-color: #d95980;
}
.yellow{
    background-color: #f99b45;
}
.green{
    background-color: #63aac0;
}
.purple{
    background-color: #819ff9;
}

.flash{
    background-color: white;
}

.userFlash{
    background-color: rgb(150, 211, 150);
}
.hScore{
    background-color: #d95980;
    color: black;
    /* border-style: none;
    border-radius: 8px 8px 8px 8px; */
    
}